@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/*Universal Selector*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    /*height: 70px;*/
}

a {
    text-decoration: none;
    color:black; /*keeps hyperlink text color black*/
}

input[type=search] {
    font-size: 20px; 
} 

/*Parameters for the contents in the main section of the page*/
#middle {
    top: 200px; /*distance from the top*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Used for title of webpage and set above the image*/
#Webpagename {
    position: absolute;
    top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

#text{
    font-weight: 500;
    font-family: "Audiowide";
    text-align:center; 
    font-size: 80px; 
    
} 

#subtext {
    
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26);
}

.searchBar{
    

    font-size: 50px;
    padding:20px 10px;
    line-height:100%;

}


