html, body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color:black; /*keeps hyperlink text color black*/
}

#nav a {
    margin-right: 20px;
}

#middle {
    flex-grow: 0.5; /*distance from the top*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#Webpagename {
    color: rgb(1, 5, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26);
}

#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 80px;
    border: 1px solid #c4c4c4
}

#searchbar:hover{
    box-shadow: 0 0 10px 2px #c4c4c4
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button:hover{
    box-shadow: 0 0 2px 1px #000000;
    border: 2px solid #eee;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background: #e9e8e8;
    border: 2px solid transparent;
    color: black;
}