@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    /*height: 70px;*/
}

a {
    text-decoration: none;
    color:white; /*keeps hyperlink text color black*/
}

#buttons {
    top: 360px;
    display: flex;
    justify-content: center;
}

/*
.button:hover{
    box-shadow: 0 0 2px 1px #000000;
    border: 2px solid #eee;
}*/

.container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #C4C4C4;
}

.box{
    display: flex;
    text-align: center;
    width: 200px;
    height: 150px;
    background: rgb(255, 255, 255);
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px; 
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
    /*padding: 5px 10px;*/
    cursor: pointer;
    background-color: transparent;
}

#middle {
    flex-grow: 0.5; /*distance from the top*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26);
}

#searchbarcontainer {
    top: 280px;
    text-align: center;
    position: flex;
}

#search {
    position: relative;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}

#searchbar {
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 0;
    width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    border: 1px solid #c4c4c4  
}

table, th, td {
    border: 1px solid black;
  }

