.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 16px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-title{
    font-size: larger;
}

a img {
    padding: 0;
    margin: 0;
    display: block;
}

a {
    
    text-align: center;
    text-decoration: none;
    color:black;
}

.bar{
    width: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  transition: width 0.5s ease-in-out;
}

.bar:focus{
    width: 75%; 
    transform: 100%, center;
}