div.centre {
    width: 200px;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
  }

div.column{
  justify-content: center;
}

.searchBar{
  text-align: center; 
}

.bar{
  margin: 10px auto; 
  width: 500px; 
  height: 45px;
  border-radius: 10px;  
  border: 2px solid #ced4da;
}


