html, body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

#nav a {
    margin-right: 20px;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26); 
}

#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border: 1px solid #c4c4c4
}

#searchbar:hover{
    box-shadow: 0 0 10px 2px #c4c4c4
}
